
a:link{
    background-color: rgb(12, 71, 110);
}

a:visited{
    background-color: yellow;
}

a:hover{
    background-color: crimson;
}

a:active{
    background-color: orange;
}





ul.first{
    list-style-type: circle;
    list-style-position: inside;
}

ul.second{
    /* list-style-type: none; */
    list-style-position: outside;
}