body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/** DERSTE YAPTIGIMIZ
 /* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d467 !important;
}

/*! Player Component Styling */

.card-konteynir {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/661/973/110/cool-nba-logo-wallpaper-preview.jpg");

}

.player-kart {
  height: 400px;
  /* width:280px; */
  max-width: 280px;
}

.player-logo {
  height: 350px;
  transition: transform 0.8s;

}

.player-kart:hover .player-logo {
  transform:scale(0.95) ;

}

.player-kart:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);

}