/* -------------------------------------------------------------------------- */
/*                                 CONTACT ME                                 */
/* -------------------------------------------------------------------------- */

.contact-bgImg-container{
    @include bgImg(100vh, $pathname1);

    nav{
        // border: 2px solid red;
        height: 40vh;
    }
}

.contact{
    // border: 2px solid red;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__list{
        // border: 2px solid red;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .text-secondary{
        color: $secondary-color;
    }
}