
.outher{
    background-color: yellow;
    width: 500px;
    height: 500px;
}

.inner{
    background-color: green;
    width: 50%;
    height: 50%;


    /* transform: translate(100%, 0%); */

    /* animation-name: travel;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate; */

    animation: travel 2s  1s infinite alternate ;

}

@keyframes travel {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translateY(100%);
        border-radius: 50%;
        background-color: aqua;
    }
    50%{
        transform: translate(100%, 100%);
        background-color: magenta;
    }
    100%{
        transform: translateX(100%);

    }
}