* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.calculator {
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 100%;
  padding: 30px;
  width: 36rem;
}

.valueUp {
  color: rgb(179, 179, 179);
  font-size: 3rem;
  font-weight: 400;
  height: 5rem;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: right;
  justify-content: center;
}
.valueDown {
  font-size: 7rem;
  font-weight: 400;
  height: 10rem;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: right;
}

.buttons-container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 50%;
  height: 7rem;
  width: auto;
  font-size: 3rem;
  cursor: pointer;
  transition: filter .3s;
}

.button.function {
  color: black;
  background-color: #a5a5a5;
}

.button.operator {
  background-color: #f1a33c;
}

.button.number-0 {
  justify-content: flex-start;
  grid-column: 1 / span 2;
  border-radius: 70px;
  padding-left: 45px;
  width: 16rem;
}

.button:hover {
  opacity: 0.7;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

@media screen and (max-width: 560px) {
  
  .valueUp {
    font-size: 1.5rem;
    font-weight: 200;
    height: 2rem;
    margin-bottom: 10px;
    margin-right: 10px;
  
  }

  .valueDown {
      font-size: 4.5rem;
      font-weight: 300;
      height: 7.5rem;
      margin-bottom: 5px;
      margin-right: 7px;
  }

  .calculator {
      border-radius: 50px;
      height: 600px;
      width: 350px;
  }

  .buttons-container {
      gap: 0.8rem;
  }

  .button {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      font-size: 1.5rem;
  }

  .button.number-0 {
      border-radius: 40px;
      padding-left: 30px;
      width: 9rem;
  }
}