*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
//!                           VARIABLE DECLaRATION                            */
/* -------------------------------------------------------------------------- */

$bgcolor:pink;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor:#30a7c3;
$bannerColor:hotpink;
$myBorder: 2px solid brown;
$buttonColor:rgb(205,86,104);

body{
    background-color: $bgcolor;
    font-family: $fontFamily ;
    font-size: $fontSize;
    color: $fontColor;
}

/* -------------------------------------------------------------------------- */
//!                                  HEADER                                   */
/* -------------------------------------------------------------------------- */

header{
    background-color: $navBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    img{
        width: 5rem;
        border: $myBorder;
        border-radius: 1rem;
    }

    ul{
        list-style-type: none;
        li{
            display: inline-block;
            padding: 0.5rem;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    a{
        color: $fontColor;
        text-decoration: none;
    }
}

/* -------------------------------------------------------------------------- */
//!                                  BANNER                                   */
/* -------------------------------------------------------------------------- */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bannerColor;
    padding: 1rem;
    line-height: 2rem;

    aside{

        button{
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
            margin-left: 0.5rem;
            background-color: $buttonColor;
            &:hover{
                background-color:rgb(202,137,147);
                cursor: pointer;
                transform: scale(0.97);
            }
        }
    }

    img{
        width: 30%;
        max-width: 400px;
        min-width: 250px;
    }
}

/* -------------------------------------------------------------------------- */
//!                                   CARDS                                   */
/* -------------------------------------------------------------------------- */

//! ************* MIXINS *************
@mixin myBox ($backColor,$color){
    width: 25%;
    height: 15rem;
    background-color: $backColor;
    border: $myBorder;
    border-radius: 10px;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cards{
    display: flex;
    gap: 1rem;
    padding: 1rem;

    .card1{
        @include myBox(yellow,blue )
    }

    .card2{
        @include myBox(blue,white )
    }

    .card3{
        @include myBox(fuchsia,white )
    
    }

    .card4{
        @include myBox(orange,black )
    }
}