.who-are-you {
    text-align: center;
    font-size: 2.5rem;
    color: black;
    letter-spacing: 1.5rem;
    text-decoration: underline;
    text-transform:uppercase;
    margin: 3rem 0 1.5rem;
    cursor: pointer;
    animation: flicker 1.5s ease-in-out infinite alternate;
    
    &:hover {
        color: #CD890C;
        animation: flicker 0.8s ease-in-out infinite alternate;

    }

}

@keyframes flicker {
    50% {
        opacity: 0.9;
        text-shadow: 2px 2px 5px #CD890C;
    }
}