div {
    text-align: center;
}

div i {
    font-size: 10rem;
    color: rgb(134, 92, 14);
}

.fa-bell {
    animation-name: shake;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.fa-dollar-sign{
    animation: snake 0.5s ease-in-out  infinite alternate ;
}

@keyframes shake {

    0% {
        transform: rotate(15deg);
        transform-origin: top;
    }

    100% {
        transform: rotate(-15deg);
        transform-origin: top;
    }


}

@keyframes snake {

    0% {
        /* transform: skew(45deg); */
        transform: rotate(0);

    }

    0% {
        transform: skew(-45deg);
        transform: rotate(360deg);
        color: magenta;
    }

}