
  @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&family=Tilt+Prism&display=swap');

/* @import './.....' Theme.css ana css q bu sekilde baglayabiliriz. */

:root{
    --primary-color:rgb(0, 178, 254);
    --secondary-color:gray;
    --yaziRengi:rgb(220, 212, 212);

    --renk1: #0339A6;
    --renk2: #04ADBF;
    --renk3: #F2B705; 
    --renk4: #F28705;
    --renk5: #F2380F;

    /* Font Family Tanimlama */

    --ff-barriecito: 'Barriecito', cursive;
    --ff-dancing: 'Dancing Script', cursive;
    --ff-tilt: 'Tilt Prism', cursive;


    /* Font Size Tanimlama */

    --fs-sm: 0.5rem;
    --fs-m: 1rem;
    --fs-l: 2rem;
    --fs-xl: 3rem;




}

h1{
    background-color: var(--primary-color);
    color: var(--yaziRengi);
    font-family: var(--ff-tilt);
}

button{
    background-color: var(--primary-color);
    color: var(--yaziRengi);
    padding: calc(2* var(--fs-sm));
    /* padding: var(--fs-xl); */
}

p{
    color: var(--renk3);
    font-family: var(--ff-dancing);
    font-size: var(--fs-l);
}

h2{
    color: var(--primary-color);
}

h3{
    color: var(--secondary-color);
}


