
.box1{ 

    /* isim ile renk olusturma  */
    background-color: darkturquoise;

}

.box2{

    /* background-color: rgb(245,30,60); */
    background-color: rgb(100, 255, 0);
    background-color: rgb(150, 0, 250);

}

.box3{

    /* rgb-alpha degeri  ile renk olusturma */
    background-color: rgba(230, 40, 40, 0.5);
    height: 50px;
 
}

.box4{

    background-color: #e5335a;

}

.box5{

    /* HEXA decimal degerlerler renk olusturma */
    background-color: #ed30ed;

}

.box6{

    /* HSL degerleri ile renk olusturma */
    /* background-color: hsl(240, 100%, 50%); */
    background-color: hsla(250, 100%, 70%, 0.3);

}