
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

/* html{
    font-size: 50px;
} */

.apple{

    background-color: rgb(56, 230, 210);

    font-size: 2rem;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-variant: small-caps;

    font-weight: 900;

}

.banana{

    font-size: 2rem;

    background-color: rgb(225, 92, 128);

    font-family: 'Pacifico', cursive;;

}

.carrot{

    background-color: rgb(132, 225, 92);

    font-size: 2rem;

    font-family: 'Caveat', cursive;


}

.parent{
    font-size: 30px;
}

.child{
    /* font-size: 0.5em; 15px olacak */
    font-size: 0.5rem;  /* 8px olucak cunku rootdan aliyor standrt 16px */
}

.vw{
    font-size: 5vw;
}