


.nav{
    // border: 2px solid red;
    height: 10vh;
    padding: 1rem;
    &__list{
        text-align: right;
    }
    &__item{
        display: inline;
        padding: 1rem;
    }
    &__link{
        text-transform: uppercase;
        font-size: 1.5rem;
        text-decoration: none;
        font-family: $font-family;
        font-weight: 500;
        
        @include transition(1s);
        
        &:hover{
            color: $hover-color;
        }
        &--active{
            color: $secondary-color;
        }

    }

}