

.header{
    height: 85vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-dark, 1), rgba($color-primary-light, 1));
    background-size: cover;
    background-position: top;
    position: relative;
    height: 85vh;

    background-image: radial-gradient(circle 610px at 5.2% 51.6%, #050872 0%, rgba(7, 3, 53, 1) 97.5%);


    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    @media only screen and (min-resolution:192dpi) and (min-width: 37.5rem), 
    only screen and (-web-min-device-pixel-rotion: 2) and (min-width:37.5rem),
    only screen and (min-width: 125rem){
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));

    }

    @include respond(phone){
        -webkit-clip-path: polygon(0 0 , 100% 0 , 100% 85vh , 0 100%);
        clip-path: polygon(0 0 , 100% 0 , 100% 85vh , 0 100%)
    }

    &__logo-box{
        position: absolute;
        top: -2rem;
        left: 2rem;
        
    }

    &__logo{
        height: 15.5rem;
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}