.navbar-body {
    // border: 2px solid black;
    background-color: #CD890C;


}

.logo {
    width: 6.5rem;

}

.links {
    font-size: 1.5rem !important;
    margin: 0 5px;
    color: #000;

    &:hover {
        background-color: #000;
        color: #CD890C !important;
        border-radius: 5px;
    
    }
}