//*****************************************************
//*   Variables
//*****************************************************

// Colors

$primary-color:#272727;
$secondary-color:#ff652f;
$hover-color: blue;
$text-color:#fff;

// font

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//path
$pathname1: '../../img/model-1.jpg';
$pathname2: '../../img/project-1.jpg';
$pathname3: '../../img/project-2.jpg';
$pathname4: '../../img/project-3.jpg';
$pathname5: '../../img/project-4.jpg';
$pathname6: '../../img/project-5.jpg';
$pathname7: '../../img/project-6.jpg';
