//*****************************************************
//*   Variables
//*****************************************************

// Colors

$primary-color:#272727;
$secondary-color:#ff652f;
$hover-color: blue;
$text-color:#fff;

// font

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;