* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 100px 400px;
    grid-template-columns: 200px 500px 200px 100px;
    

}

.content {
    border: 1px solid grey;
    background-color: rgb(50, 164, 164);
}

.content1 img{
    width: 50%;
}