// 2. import yolu
@import "./scss/button";
@import "./scss/reset";
@import "./scss/variable";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    color: $turuncu;

}

h2 {
    color: $yesil;

}

p {
    color: $kirmizi;

}