@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Distressed', cursive;
}

body {
    background-image: linear-gradient(225deg,#000,#cd890c 90%,#2b86c5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    
}