
body{
    background-color: black;
    color: white;

}

a{
    text-decoration: none;
    border: 2px solid rgb(251, 1, 176);
    color: white;

}

ul{
    display: inline;
}

li{
    display: inline;
    padding: 10px;
}

/* img{
    width: 100% ;
} */

.img{
    background-image: url(./img/background.jpg);
    width: auto;
    height: 35rem;
    background-size: cover;    
}

