* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #eeecec;
    box-shadow: 2px 2px 50px black;
    border-radius: 1.5rem;
    font-family: 'Judson', serif;
}

.iconBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3rem;
    padding: 10px 50px;
    border-bottom: 2px solid #d9d9d9;
}

.inputPart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    /* border: 3px solid red; */
}

.logo {
    height: 50px;
    padding: 5px;
    margin: 10px;
    box-shadow: -1px 1px 5px black;
    border-radius: 15px;
}

.inputPart select {
    width: 188px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-family: 'Bellota', cursive;
    font-weight: 600;
    /* margin: 1rem; */

}

.searchInput {
    width: 300px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.searchInput input {
    width: 300px;
}

.searchInput input {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 10px;

}

.searchInput img {
    margin: 1rem;
}

.support {
    text-align: right;
    margin-left: 1rem;
}

.supportNumber {
    font-weight: 600;
    font-size: 1.2rem;
}

.supportText {
    font-size: 0.8rem;
}

.icons {
    margin-right: 2rem;
}

.icons img {
    padding: 10px;
}

.navBar {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 10px 50px;
    margin-left: 4rem;

}

.button {
    display: flex;
    align-items: center;

    background-color: #d9d9d9;
    padding: 1rem;
    height: 40px;
    /* border: 1px solid #d9d9d9; */
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-style: italic;
    font-size: 1.3rem;

}

.button p {
    margin-left: 1rem;
}

.nav {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);

}

li {
    display: inline-block;
    margin-left: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    background-image: url(./images/stock.jpg);
    margin-top: 1rem;
    padding: 2rem 5rem;

}

.essentials {
    background-color: #d5dee5;
    height: 300px;
    width: 800px;

    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;

}

.essentialText {
    padding: 20px;
    font-style: italic;
    letter-spacing: 0.3px;
    font-size: 2rem;

}

.lighting {
    width: 25rem;
    background-color: #ffc868;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;

}

.lighting img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.lighting p {
    margin-bottom: -200px;
    width: 80%;
    float: right;
    padding: 2rem;
    font-style: italic;
}

.categorySection {
    background-color: #AEA08D;

}

.categoryPart>p {
    /* border: 2px solid red; */
    font-size: 24px;
    padding-bottom: 1rem;
}

.category p {
    color: rgba(0, 0, 0, 0.6);
}

.categoryPart,
.productPart {
    padding: 2rem;
}

.categories,
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category {
    height: 350px;
    width: 350px;
    padding: 1rem 2px 1rem 1rem;
    background-color: #eeecec;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 2px 2px 50px black;
}

.category img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding: 1rem 10px 1rem 1rem;

}

.productPart {
    margin: 1rem;
}

.productPart>p {
    font-size: 24px;
    font-family: 'Judson', serif;
    /* margin-left: 32px; */
    padding-bottom: 1rem;

}

.productSection {
    background-color: #eeecec;
    margin: 1rem;

}

.product {
    height: 270px;
    width: 350px;
    padding-bottom: 1rem;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 2px 2px 50px black;
}

.product img {
    /* border: 2px solid red; */
    border-radius: 10px;
    width: 100%;
    height: 95%;
    /* padding-bottom: 0.7rem; */

}

.product p {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
    /* position: relative;
    bottom: 2.7rem; */
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 2rem; */
    background-color: #AE9F8D;
    padding: 2rem 4rem;

}

.expert {
    /* display: flex; */

    width: 50%;
    padding: 2rem;
    margin: 1rem;
    /* letter-spacing: 1px; */

}

.leaeYourInfo p {
    font-family: 'Judson', serif;
}

.lookForExpert {
    /* font-family: 'Josefin Slab', serif; */
    font-family: 'Bellota', cursive;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem;

}

span {
    color: #f37705;
}

.formSection {
    width: 50%;
}

.formElement {
    font-size: 1.5rem;
}

.formElement input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding: 1rem 0;
    width: 38rem;
}

input:focus {
    outline: none !important;
    border-bottom: 1px solid black;
}

.submit {
    width: 13rem;
    height: 2.5rem;
    text-align: left;
    padding-left: 1rem;
    font-style: italic;
    border-radius: 5px;
    background-color: #D9D9D9;
    outline: none;
    border: 1px solid black;

}

.copyright {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    align-items: center;
    height: 5rem;

}

.policy a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

@media screen and (max-width:700px) {
    .iconBar {
        /* border: 3px solid red; */

        margin: 0;
        padding: 0;
        /* margin: 0.5rem 1rem 1rem 0.5rem;
        padding: 10px 0; */
        /* display: flex;
        justify-content: space-between;
        align-items: center; */

        border-bottom: 2px solid #d9d9d9;
    }

    .inputPart {
        margin: 0.5rem 2rem 1rem 0.5rem;
        /* padding: 10px 0; */
        display: flex;
        justify-content: space-between;

    }

    .searchInput {
        /* border: 2px solid red; */
        width: 100%;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        /* display: flex; */
       
    }

    .support{
        display: flex;
        gap: 1rem;

    }

    .icons{
        /* border: 2px solid red; */
        display: flex;
        gap: 1.3rem;
        justify-content: space-between;
        align-items: center;
    }

    .navBar{
        margin: 0;
        padding-left: 0.5rem;
        /* border: 2px solid red; */
        display: flex;
        justify-content: left;
    }

    .nav{
        margin-left: -0.9rem;
        padding: 0;
    }

    .contact{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .expert {
        width: 100%;
        padding: 2rem;
        margin: 1rem; 
    
    }


    /* *************** */

    .lookForExpert{
        font-size: 1.5rem;
    }

    .formSection {
        /* margin: 1rem; */
        width: 90%;
        padding-bottom: 1rem;
    }
    
    .formElement {
        font-size: 1.3rem;
    }
    
    .formElement input {
        background-color: inherit;
        border: none;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        padding: 1rem 0;
        width: 24rem;
    }
    
    input:focus {
        outline: none !important;
        border-bottom: 1px solid black;
    }
    
    .submit {
        width: 13rem;
        height: 2.5rem;
        text-align: left;
        padding-left: 1rem;
        font-style: italic;
        border-radius: 5px;
        background-color: #D9D9D9;
        outline: none;
        border: 1px solid black;
    
    }
    
    .copyright {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        align-items: center;
        height: 5rem;
    
    }
    
    .policy a {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid black;
    }


}
@media screen and (max-width:550px) {

    .searchInput {
        width: 60%;

    }

    .essentials {
        height: 430px;
        display: flex;
        flex-direction: column;
    
    }
    
    .essentialText {
        padding: 20px;
        font-style: italic;
        letter-spacing: 0.3px;
        font-size: 2rem;
    
    }
    
    .lighting {
        width: 25rem;
        background-color: #ffc868;
        height: 300px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px black;
    
    }
    
    .lighting img {
        width: 290px;
        height: 300px;
        border-radius: 5px;
    }
    
    .lighting p {
        margin-bottom: -200px;
        width: 80%;
        float: right;
        padding: 3.5rem;
        font-style: italic;
    }


    .formElement input {
        width: 20rem;

    }

    .copyright {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 0.5rem;
    
    }
    
    .policy  {
        display: flex;
        justify-content:space-between;

    }

}

@media screen and (max-width:500px) {

    .inputPart {
        /* border: 2px solid red; */
        display: flex;
        justify-content: flex-start;

    }

    .searchInput {
        width: 68%;

    }

    .icons{
        margin-left: 1.3rem;
    }

    .formElement input {
        width: 16rem;

    } 

}