
/* *{
    border: 2px solid red;
} */


.box{
    background-color: black;
    width: 700px;
    height: 100px;
    margin: 30px;
}

.box1{
    border-top: 10px solid red;
}

.box2{
    border-bottom: 5px solid orange;
}

.box3{
    border: 10px groove rgb(113, 113, 218);
}

.box4{
    border-style: inset;
    border-color: red;
    border-width: 10px 20px 5px 30px;
}
