/* .box{
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box1{
    margin: auto;
} */

*{
    margin: 0;
}

h1{
    background-color: chocolate;
    /* margin-top: 20px;
    margin-bottom: 10px; */
    margin: 20px 0 5px 3px;
}

.par1{
    background-color: cornflowerblue;
    margin: 10px 20px;
}

/* Margin auto ile ortalama yapabilmemiz icin block element olmali ve width degeri olmali */

img{
    width: 100px;
    height: 100px;
}

.imgContainer{
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.par2{
    background-color: crimson;
    /* margin-top: -50px; */
    margin: auto;
    width: 300px;
    margin-top: 10px;
}

.par3{
    background-color: rgba(48, 199, 48, 0.4);
    margin-top: -10px;
}