@import "../../scss/variable";


.konteynir {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;

    .kart {
        width: 30%;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;

        img {
            border-radius: 80px;
            width: 50%;
            margin-top: 10px;
        }

        h1 {
            color: $turuncu;
        }

        h2 {
            color: $yesil;
        }

        p {
            color: $kirmizi;
        }

        button {
            border-radius: 5px;
            color: white;
            cursor: pointer;

        }

        .small {
            background-color: $lightGreen;

        }

        .large {
            background-color: $darkGreen;

        }

        button:hover {
            opacity: 0.7;

        }
    }
}