*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container{
    background-color: bisque;
    padding: 10px;
    margin-top: 100px;
}
.box1{
    background-color: deeppink;
    display: inline;
    /* margin: 50px;
    padding: 20px; */
    width: 500px;
}
.box2{
    background-color: olive;
    display: inline-block;
    /* padding: 20px; */
    width: 200px;
    margin: auto;
    border: 5px solid red;
}
.box3{
    background-color: rgb(36, 34, 139);
    display: block;
    margin: 10px;
    padding: 20px;
    width: 200px;
    margin: auto;
}
.span1{
    background-color: lawngreen;
}
.span2{
    background-color: darkorange;
    display: block;
}
.span3{
    background-color: gray;
}

.par1{
    background-color: fuchsia;
    text-align: center;
    /* width: 50%;
    margin: auto; */
    display: inline;
    display: block;
}
.photo{
    width: 200px;
    height: 100px;
    /* margin-left: 50%; */
    /* display: block;
    margin: auto; */
    
}

.img-container{
    border: 2px solid red;
    text-align: center;
}

.par2{
    background-color: magenta;
}
#special{
    background-color: yellow;
    display: block;
    /* text-align: right; */
}
#resim2{
    width: 100px;
}
.sizing{
    background-color: chartreuse;
    padding: 20px;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 5px solid red;
    padding: 10px;
    box-sizing: border-box;
}
.box5{
    width: 100px;
    height: 100px;
    background-color: salmon;
    border: 5px solid red;
    padding: 20px;
    box-sizing: border-box;
}
.box6{
    width: 100px;
    height: 100px;
    background-color: magenta;
    /* border: solid red; */
}