body{
    height: 100vh;
    /* display: flex;
    align-items: center; */
}

.container{
    border: 3px solid red;
    width: 20rem;
    height: 20rem;
    overflow: auto;
    margin: auto;
    padding: 10px;

    background-image: url();

}

.container::-webkit-scrollbar{
    /* visibility: hidden; */
    display: none;
}

/* p{
    display: none;
} */

.paragraf{
    text-align: justify;
}