/*! grup selectors */

div p{
    /* color: red; */
}

.container div p{
    /* color: red; */
}

.box p{
    /* background-color: olive; */
}

div + p{
    /* background-color: darkorange; */
}

p + div{
    /* background-color: crimson; */
}


div > p {
    /* background-color: coral; */
}
.container div p{
    /* background-color: brown; */
}

/*! Attribute selectors */

h2[title="baslik1"]{
    background-color: olive ;
}

p[title="paragraf1"]{
    background-color: crimson;
}

a[target="_blank"]{
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*! Psudo selectors */

#paragraf2::first-line{
    font-size: 2rem;
    color: red;
}
#paragraf2::first-letter{
  font-size: 3rem;  
  color: black;
}

ul li{
    background-color: olive;
    width: 20rem;
    margin: 1rem;
    border-radius: 10px;
}

ul li::before{
    content: '❤️';
}
ul li::after{
    content: '🐇';
    font-size: 2rem;
}