*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: olive;
    border: 10px solid red; */
    height: 100vh;
    /* height: 400px; */
}

.abs{
    background-color: coral;
    width: 5cm;
}

.div2{
background-color: crimson;
width: 50%;
height: 10vh;
}
.div3{
background-color: orange;
width: 50%;
height: 50%;
    
}
.div4{
background-color: blue;
width: 60vw;
/* height: 100px; */
}
html{
    font-size: 16px;
}

.div5{
    font-size: 25px;
}
.div6{
    font-size: 2em;
}
.div7{
    font-size: 2em;
}
.div8{
font-size: 25px;
}
.div9{
font-size: 5rem;
}
.div10{
    font-size: 5rem;
}